@keyframes color-change {
  0%,
  100% {
    filter: hue-rotate(0deg) blur(.1px);
  }
  50% {
    filter: hue-rotate(360deg) blur(0);
  }
}

@keyframes rain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20% 100%;
  }
}
