.header {
  // background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  
  // height: 600px;

  // Dynamic Class => is toggled using JavaScript
  // Middle Line

  &.open .header__menu--line {
    background-color: transparent;
  }

  &.open .header__menu--line::before {
    transform: rotate(45deg);
  }

  &.open .header__menu--line::after {
    transform: rotate(-45deg);
  }

  &.open .header__menu--line::before,
  &.open .header__menu--line::after {
    top: 0;
    
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--color-charcoal-dark);
    position: fixed;
    opacity: 0;
    display: none;
    z-index: 10;
  }

  &__nav {
    width: 100%;
    height: 7rem;
    line-height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    text-transform: uppercase;
    overflow: hidden;

    &--scrolled {
      background-color: var(--color-charcoal-dark);
    }

    &--logo {
      padding: 1rem;
      img {
        height: 5rem;
        width: 5rem;
      }
    }

    &--text {
      span {
        font-size: 4rem;
        letter-spacing: 1rem;
      }
    }

    &--links {
      display: flex;
      gap: .5rem;
      z-index: 5;

      &__item {
        a:link,
        a:visited {
          // margin-right: 1vw;
          padding: 0 1.5rem;
          display: block;
          position: relative;
          transform-style: preserve-3d;
          transform-origin: top;
          transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
          letter-spacing: .25rem;
        }

        a:hover,
        a:active {
          transform: rotateX(90deg);
          box-shadow: rgba(0,0,0, 0.5) 0px 2px 4px 0px inset;
        }

        a:link::after,
        a:visited::after {
          content: attr(data-text);
          position: absolute;
          background-color: var(--color-orange);
          left: 0;
          bottom: -100%;
          transform: rotateX(-90deg);
          transform-origin: top;
          padding: inherit;
          box-shadow: rgba(0,0,0, 0.5) 0px 2px 4px 0px inset;
        }
      }

      // direction => downwards
      &__item:nth-child(odd) {
        animation: downwards 1s forwards;
      }

      // direction => upwards
      &__item:nth-child(even) {
        animation: upwards 1s forwards;
      }
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 1300px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
  @include media-desktop {
    &__nav {
      &--links {
        &__item {
          a:link,
          a:visited {
            font-size: 1.7rem;
          }
        }
      }
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point*-*-*-*-*-*-*-*-*-*-*

  @include media-tablet {
    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 25rem;
      height: 100vh;
      line-height: initial;
      flex-direction: column;
      text-align: center;
      z-index: 20;
      transform: perspective(70rem) rotateY(180deg);
      transform-origin: top left;
      transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &--links {
        height: 80%;
        flex-direction: column;
        justify-content: space-evenly;

        &__item {
          animation: initial;

          a:link,
          a:visited {
            transform-origin: left;
            margin-right: initial;
            padding: 2rem;
            font-size: 1.2rem;
          }

          a:hover,
          a:active {
            transform: rotateY(90deg);
            background-color: var(--color-charcoal-dark);
          }

          a:link::after,
          a:visited::after {
            top: 0;
            bottom: 100%;
            left: 100%;
            width: 100%;
            height: 100%;
            transform-origin: left;
            transform: rotateY(-90deg);
            background-color: var(--color-blue-dark);
          }
        }

        &__toggle-container {
          justify-content: center;
        }
      }

      &--text {
        span {
  
          font-size: initial;
        }
      }
    }

    &.open nav {
      transform: rotateY(0);
    }

    &__menu {
      position: fixed;
      height: 4rem;
      width: 4rem;
      top: 2rem;
      right: 2rem;
      padding: 2.5rem;
      background-color: var(--color-blue-dark);
      z-index: 20;
      cursor: pointer;

      &--line,
      &--line::before,
      &--line::after {
        content: "";
        position: absolute;
        width: 3.5rem;
        height: 0.2rem;
        background-color: var(--color-charcoal-dark);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.5s ease-in-out;
      }

      &--line::before {
        top: -2.2rem;
      }

      &--line::after {
        top: 1.3rem;
      }
    }

    &__overlay.open {
      display: block;
      opacity: 0.8;
    }
  }
}